@import "~bulma/bulma";
@import "./custom_colors";

div.top-navbar {
  background-color: #1A2F1C;
  text-decoration-color: white;
  color: white !important;
  //background-color: $white;
  border-bottom: 1px solid $custom-gray;
  
  nav.navbar {
    background-color: #1A2F1C;
    height: 70px;

  
      
    navbar{
      z-index: 1;
      
    }

    .navbar-brand {
      height: 100%;
      z-index: 1;

      

      
      
      img {
        height: 100%;
      }
    }

    .navbar-end
   {
     
    color: white;

    :hover{      
    background-color: #1A201A;
      //color: #1A2F1C; 
    }
   }

    .navbar-item
   {
      color: white;      
    }

    .navbar-item.navbar-center {
      
      flex-grow: 1;
      justify-content: center;
    }
  }
}