.order-box {
    padding: 2px;
    margin: 0px 1em 2em 0px;

    div.subtotal {
      margin-top: 50px;
    }
   
    button.remove-button {
      padding-left: 10px;
      padding-right: 10px;
    }
}
